<a href="#contingut-principal" class="skip-link">
  Saltar al contingut principal
</a>
<main id="contingut-principal" class="contenidor">
  <header class="capcalera">
    <h1>Gestor d'Inventari</h1>
    <p>
      Aplicació desenvolupada per Cristian Quintana per gestionar productes d’un
      inventari de forma senzilla.
    </p>
  </header>

  <nav aria-label="Cerca d'elements">
    <app-barra-cerca (cercaCanviada)="onCercaCanviada($event)">
    </app-barra-cerca>
  </nav>

  <section aria-label="Resultats de la cerca">
    <app-llista-productes
      [productes]="productesFiltrats"
    ></app-llista-productes>
  </section>
</main>
